body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #4CAF50;
  color: white;
  padding: 15px 0;
}

#map {
  height: 80vh;
  width: 100%;
}
#emergencyBtn {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}